@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<script src="~/assets/Chart.min.js"></script>
<script src="~/assets/utils.js"></script>
<link rel="stylesheet" type="text/css" href="~/assets/style.css" />



<div class="content">
    <!-- Panel -->
    <div class="card h-100 g-brd-gray-light-v7 g-rounded-3">
        <div class="card-block g-font-weight-200 g-pa-20">
            <h1>  @Configuration.GetSection("WebsiteName").Value </h1>
        </div>
    </div>
    <!-- End Panel -->
    <h5>如果没有订阅钱包地址，请先<a href="/home/register">订阅</a>,首次订阅请等半个小时再查看。 </h5>
    <div class="wrapper"><canvas id="chart-0"></canvas></div>
    <div class="toolbar">
        <div class="form-group">
            <label class="g-mb-10" for="inputGroup-1_4">钱包地址(可以用英文逗号分隔查询多个地址比如：0x0000000000000000000000000000000000000002,0x0000000000000000000000000000000000000003)</label>
            <div class="g-pos-rel">
                <textarea style="width: 800px;" id="txtAddress" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-20 g-px-14 g-py-10" type="text" placeholder="0x0000000000000000000000000000000000000001">0x0000000000000000000000000000000000000001</textarea>
            </div>
        </div>
    </div>
    <div class="media-body align-self-center text-center">
        <a class="btn btn-xl u-btn-primary g-width-160--md g-font-size-default g-ml-10" id="btnSubmit">查询</a>
    </div>
    <hr />
    <div class="wrapper card h-100 g-brd-gray-light-v7 g-rounded-3">
        <h1>安装检查信任节点软件(Windows) </h1>
        <ul>
            <li>step 1. 下载<a href="http://47.91.220.168:8888/IsTrustedNode.zip">压缩包 </a></li>
            <li> step 2. 解压出exe文件</li>
            <li>step 3. 把exe文件放到run目录下双击运行即可</li>
        </ul>
        <h1>执行检查信任节点脚本(Mac, Linux)  </h1>
        <ul>
            <li>step 1. 切换到run目录下</li>
            <li>
                step 2.执行下面命令<br /><code>
                    wget http://47.91.220.168:8888/IsTrustedNode.sh <br>
                    wget http://47.91.220.168:8888/DeployIsTrustedNode.sh <br>
                    chmod 777 ./DeployIsTrustedNode.sh <br>
                    ./DeployIsTrustedNode.sh
                </code>
            </li>
        </ul>
        <h1>最近三天活跃信任钱包地址</h1>
        <ul>
            @if (ViewBag.trustedWalletAddressActive.Count == 0)
            {
                <text>
                    当前没有信任地址
                </text>
            }
            @foreach (var item in ViewBag.trustedWalletAddressActive)
            {
                <li>
                    @item
                </li>
            }
        </ul>
        <h1>最近三天登记的节点列表</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        钱包地址
                    </th>
                    <th>
                        公网IP 列表
                    </th>
                    <th>
                        日期
                    </th>
                    <th>
                        信任IP列表
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trustNode in ViewBag.trustNodesActive)
                {
                    <tr>
                        <td>
                            @trustNode.WalletAddress
                        </td>
                        <td>
                            @trustNode.IPAddressList
                        </td>
                        <td>
                            @trustNode.CreatedDate
                        </td>
                        <td>
                            @trustNode.TrustedIPList
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />
        <div style="color:grey;display:none;">
            <h1>历史信任钱包地址</h1>
            <ul>
                @if (ViewBag.trustedWalletAddress.Count == 0)
                {
                    <text>
                        当前没有信任地址
                    </text>
                }
                @foreach (var item in ViewBag.trustedWalletAddress)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
            <h1>历史节点列表</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            钱包地址
                        </th>
                        <th>
                            公网IP 列表
                        </th>
                        <th>
                            信任IP列表
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trustNode in ViewBag.trustNodes)
                    {
                        <tr>
                            <td>
                                @trustNode.WalletAddress
                            </td>
                            <td>
                                @trustNode.IPAddressList
                            </td>
                            <td>
                                @trustNode.TrustedIPList
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>

    </div>
</div>

<script>
    var DATA_COUNT = 12;

    var utils = Samples.utils;

    utils.srand(110);

    function getLineColor(ctx) {
        return utils.color(ctx.datasetIndex);
    }

    function alternatePointStyles(ctx) {
        var index = ctx.dataIndex;
        return index % 2 === 0 ? 'circle' : 'rect';
    }

    function makeHalfAsOpaque(ctx) {
        return utils.transparentize(getLineColor(ctx));
    }

    function adjustRadiusBasedOnData(ctx) {
        var v = ctx.dataset.data[ctx.dataIndex];
        return v < 10 ? 5
            : v < 25 ? 7
                : v < 50 ? 9
                    : v < 75 ? 11
                        : 15;
    }

    function generateData() {
        return utils.numbers({
            count: DATA_COUNT,
            min: 0,
            max: 100
        });
    }
    function ajax() {
        var data;
        $.ajax({
            async: false,
            type: "get",
            url: "/home/GetChartByAddress?address=" + $.urlParam('address'),
            data: {

            },
            success: function (children) {
                data = children;
            }
        });
        return data;
    }
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }

    var localAddress = localStorage.getItem('address');
    //if has url then use it.
    if ($.urlParam('address')) {

    } else {
        //else use local storage.
        if (localAddress) {
            location.href = location.href + "?address=" + localAddress;
            $('#txtAddress').val(localAddress);
        }
    }

    //if ($.urlParam('address')) {
    //    $('#txtAddress').val($.urlParam('address'));
    //}
    $('#txtAddress').val($.urlParam('address'))
    $('#btnSubmit').click(function () {
        localStorage.setItem('address', $('#txtAddress').val());
        location.href = location.protocol + '//' + window.location.hostname + ":" + window.location.port + "?address=" + $('#txtAddress').val();

    });
    var data = ajax();

    setInterval(function () {
        location.reload();
    }, 60000);
    console.log(data, 64, generateData())
    var options = {
        legend: false,
        elements: {
            line: {
            },
            point: {
                backgroundColor: getLineColor,
                hoverBackgroundColor: makeHalfAsOpaque,

            }
        }, title: {
            display: true,
            text: $.urlParam('address')
        }
    };

    var chart = new Chart('chart-0', {
        type: 'line',
        data: data,
        options: options
    });
    console.log(data, options, 142222)

    // eslint-disable-next-line no-unused-vars
    function addDataset() {
        chart.data.datasets.push({
            data: generateData()
        });
        chart.update();
    }

    // eslint-disable-next-line no-unused-vars
    function randomize() {
        chart.data.datasets.forEach(function (dataset) {
            dataset.data = generateData();
        });
        chart.update();
    }

    // eslint-disable-next-line no-unused-vars
    function removeDataset() {
        chart.data.datasets.shift();
        chart.update();
    }
</script>